.heading{
    margin: 0px;
    box-shadow: 3px 3px 3px grey;
    font-family: 'Permanent Marker';
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}
.note{
    color: black;
}
.copy_right_footer{
    text-align: center;
    font-family: 'Permanent Marker';
    width: 100%;
    line-height: 3;
    bottom: 0;
    background-color: rgb(38, 2, 62);
    color: rgb(0, 0, 0);
    position: fixed;
    font-weight: bold;
    font-size: 20px;
}

canvas 
  {
    border:2px solid rgb(0, 0, 0);
    border-color: white;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
  border-radius: 20px;
  }